.input-group {
  padding-bottom: 5px;
}


.tick line{
    opacity: 0.1;
}

canvas {
  position: absolute;
}


.axis text {
  font: 10px sans-serif;
}

.navbar-default, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #653C8E;
  color: #fff;
}

.nav-pills {
  position: fixed;
}

a, a:hover{
  color: #653C8E;
}
.navbar-default .navbar-nav > li > a {
  color:#fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar {
  border-radius: 0;
  border: none;
}

.callout {
  border-left: 3px solid #653C8E;
  background-color: #F4EDFB;
  margin-bottom:20px;
}

.axis path,
.axis line {
  stroke-width: 1;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Custom page header */
.header {
  margin-bottom: 70px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.mobile-nav {
  display: none;
}
@media screen and (max-width: 768px) { 
  .mobile-nav {
    display: block;
  }
  .navbar-right {
    display: none;
  }
  .side-nav {
    display: none;
  }
}

